@model students.Models.Entities.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Group</h1>

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
             <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Volunteers)
            </dt>
            @foreach (var item in Model.Volunteers.Where(p => p.Status==students.Models.Entities.VolunteerStatus.ACCEPTED))
            {
                <dd class = "col-sm-10">
                @Html.DisplayFor(volunteer => item.Name)
            </dd>
            }
        </dl>
          <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.GroupId">Delete</a> 
        
